{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Entropia</title>

    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dist/css/grayscale.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />

    <!-- Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,100,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#solution">The solution</a>
            </li>
            <li class="page-scroll">
              <a href="#references">Our work</a>
            </li>
            <li class="page-scroll">
              <a href="#contact">Contact</a>
            </li>
            <li class="page-scroll">
              <a href="{% url 'crm:auth:login' %}">Login</a>
            </li>
            <li class="page-scroll">
              <a href="{% url 'crm:register' %}">Sign Up Free</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <section id="page-top" class="intro">
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">ENTROPIA</h1>
              <img src="{% static 'home/img/EntropiaLogo.png' %}" alt="Entropia Logo" height="100px" width="auto">
              <br>
              <br>
              <p class="intro-text">
                Anything you do not except
              </p>
              <div class="page-scroll">
                <a href="#solution" class="btn btn-circle"> <i class="fa fa-angle-down animated"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="solution" class="solution">
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 cell">
              <h2 class="main-heading"><i class="fa fa-bolt"></i> THE SOLUTION <i class="fa fa-bolt"></i></h2>
              <br>
              <i class="fa fa-cloud fa-5x"></i>
              <br>

              <span class="fa-stack fa-lg fa-3x"> <i class="fa fa-tablet fa-3x fa-stack-2x"></i> <i class="fa fa-info fa-stack-1x anim_fadein"></i> </span>

              <i class="fa fa-exchange fa-4x"></i>

              <span class="fa-stack fa-lg fa-3x"> <i class="fa fa-tablet fa-stack-2x"></i> <i class="fa fa-info fa-stack-1x anim_fadeout"></i> </span>
              <p>
                We are developing awsome solutions where <b>data synchronization</b> plays a big role.
                <br>
                We are experts in creating fully custom <b>multi-platform applications</b> in which the data are traveling nearly at the speed of ligth between <b>all the devices</b>.
                <br>
                The <b>end customers</b> are always in our minds from the very first <b>line of code</b>.
              </p>
            </div>
          </div>

          <div class="row margin_top100">
            <div class="col-sm-6 col-md-4 cell">
              <p>
                Our products do not care about
              </p>
              <p class="images">
                <i class="fa fa-mobile icon-h-large fa-3x"></i>
                <i class="fa fa-tablet icon-h-large fa-3x"></i>
                <i class="fa fa-laptop icon-h-large fa-3x"></i>
                <i class="fa fa-desktop icon-h-large fa-3x"></i>
              </p>
              <p>
                the device they are running on.
              </p>
            </div>
            
            <div class="col-sm-6 col-md-4 cell">
              <p>
                Forget about the legacy software
              </p>
              <p class="images">
                <i class="fa fa-lightbulb-o icon-h-large fa-3x"></i>
                &nbsp
                <i class="fa fa-terminal icon-h-large fa-3x"></i>
                &nbsp
                <i class="fa fa-magic icon-h-large fa-3x"></i>
                &nbsp
                <i class="fa fa-cloud icon-h-large fa-3x"></i>
              </p>
              <p>
                our solutions are innovative.
              </p>
            </div>

            <div class="col-sm-6 col-md-4 cell">
              <p>
                What we really do care of is
              </p>
              <p class="images">
                <i class="fa fa-user icon-h-large fa-1x"></i>
                <i class="fa fa-user icon-h-large fa-2x"></i>
                <i class="fa fa-user icon-h-large fa-3x"></i>
                <i class="fa fa-user icon-h-large fa-2x"></i>
                <i class="fa fa-user icon-h-large fa-1x"></i>
              </p>
              <p>
                user experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="references" class="references">
      <div class="section-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2><i class="fa fa-quote-left"></i> OUR WORK <i class="fa fa-quote-right"></i></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">

              <img src="{% static 'home/img/GClogo.png' %}" alt="Entropia Logo" height="100px" width="auto">

              <h2 class="contact-heading">GuestCloud</h2>
              <p>
                Complete guest management system
                <br>
                for event planners
              </p>

            </div>

            <div class="col-sm-6">

              <img src="{% static 'home/img/GFlogo.png' %}" alt="Entropia Logo" height="100px" width="auto">

              <h2 class="contact-heading">GuestFlow</h2>
              <p>
                Guest check-in app for tablets
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section id="clients" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2><i class="fa fa-male"></i> CLIENTS <i class="fa fa-female"></i></h2>
            <p>
              We have the best clients
            </p>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-3 col-sm-offset-2">
            HTC
          </div>
          <div class="col-sm-3">
            Union
          </div>
          <div class="col-sm-3">
            Brand
          </div>
        </div>
      </div>
    </section> -->    
        
    <section id="contact" class="contact">
      <div class="section-body">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 cell">
            <h2><i class="fa fa-phone"></i> CONTACT <i class="fa fa-envelope-o"></i></h2>
          </div>
        </div>    
        
         <div class="row">
          <div class="col-lg-8 col-lg-offset-2 cell">
              <h2 class="contact-heading">Entropia s.r.o.</h2>        
          </div>
        </div>
        
      <div class="row margin_top50">
        <div class="col-sm-6 col-md-4 cell">
          <div class="bottom_zero">
            <i class="fa fa-home fa-5x"></i>
            <p>
              Jégého 7, 82108 Bratislava, <br>Slovakia
            </p>
          </div>
        </div>

       <div class="col-sm-6 col-md-4 cell">
          <div class="bottom_zero">
            <a href="mailto:info@entropia.sk"><i class="fa fa-envelope fa-5x"></i></a>
            <p>
              <a href="mailto:info@entropia.sk">info@entropia.sk</a>
            </p>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 cell">
         <div class="bottom_zero">
            <i class="fa fa-phone fa-5x"></i>
            <p>
              +421 904 288 684 
            </p>
          </div>
        </div>
      </div>
        
        
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'dist/js/grayscale.js' %}"></script>
  </body>
</html>