{% extends "crm/admin_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load crm %}

{% block title %} 
  {% if create %}
    {% trans 'Creating message' %}
  {% else %}
    {% trans 'Editing message' %}
  {% endif %}
{% endblock %}

{% block main_content %}
<h1 class="page-header">
  {% if create %}
    {% trans 'Creating message' %}
  {% else %}
    {% trans 'Editing message' %}
  {% endif %}
</h1>
  
{% bootstrap_messages %}
<form method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form form_group_class='row form-group' %}

  <div class="row form-group">
    <input type="submit" class="btn btn-primary" name="edit" 
           value="{% if create %}{% trans 'Create message' %}{% else %}{% trans 'Edit message' %}{% endif %}"/>
    <a class="btn btn-primary" href="{% user_url 'crm:invitations' %}">
      {% trans 'Cancel' %}
    </a>
  </div>
</form>

{% endblock main_content %}