{% extends "crm/admin_base.html" %}

{% load staticfiles %}

{% block title %}Admin{% endblock %}

{% block head %}  
{% endblock %}

{% block admin_content %}
  <div class="container">
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{% static 'common/img/GFlogo.png' %}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Import</h4>
        <span class="text-muted">Import your guest list</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{% static 'common/img/GFlogo.png' %}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Send emails</h4>
        <span class="text-muted">Email to the selected guests</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <img src="{% static 'common/img/GFlogo.png' %}" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Export</h4>
        <span class="text-muted">Export the actual guest list</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <a href="{% url 'crm:guestflow' user.username %}">
          <img src="{% static 'common/img/GFlogo.png' %}" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>GuestFlow</h4>
          <span class="text-muted">Export the actual guest list</span>
        </a>
      </div>
    </div>
  </div>
{% endblock admin_content %}